# Ambientes virtuais
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Configurações locais sensíveis (Chaves de API)
.env

# Arquivos de dados do usuário e histórico
historico_noticias.json

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
